.bttnLogOut{
    background-color: #2a1e1e;
    width: 170px;
    height: 55px;
    border-radius: 20px;
    color: white;
}

.chatContainer{
    width: 1100px;
    height: 650px;

    border: solid;
    border-color: #2a1e1e;
    border-radius: 25px;

    background-color: #ffc5c1;

    margin-top: 30px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.menuContainer{
    background-color: #aa6581;

    border-top-left-radius: 22px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 22px;
    border: solid;

    height: 632px;
    width: 270px;

    padding-bottom: 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.messageContainer{
    width: 820px;
    height: 632px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contacNameContainer{
    width: 808px;
    height: 40px;

    padding-left: 20px;

    display: flex;
    gap: 10px;

    font-weight: bolder;

    border-bottom: solid;
}

.contactImage{
    width: 35px;
    height: 35px;
    position: relative;
}

.contactUserContainer{
    height: 100%;
    display: flex;
    margin-top: 5px;
}

ul li {
    cursor: pointer;  /* Cambia el cursor a un puntero (mano) cuando se pasa sobre los nombres */
}

.messageSpace{
    width: 812px;
    height: 110px;

    border-top: solid;
    padding-left: 15px;
    padding-top: 15px;

    gap: 20px;
    display: flex;
}

.showMessagesContainer{
    width: 796px;
    height: 434px;

    padding: 15px;
}

.messageInput{
    width: 630px;
    height: 105px;
    resize: none;
    background-color: transparent;
    border: none;
}

.messageSpaceBttn{
    width: 150px;
    height: 110px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sendBttn{
    width: 150px;
    height: 50px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    background-color: #aa6581;
}

.archivosBttn{
    width: 150px;
    height: 50px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    background-color: #501931;
}

.contactos{
    width: 265px;
    height: 450px;

    display: flex;
    flex-direction: column;

}

.bottomBorder{
    border-bottom: dashed;
}

.divCentrado{
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.bttnAddContact{
    width: 30px;
    height: 30px;

    border-radius: 100%;

    background-color: #ffc5c1;
    color: black;
    font-weight: bold;
}